
<br>
<br>
<h1 style="color:brown;"><center><i> Edit Profile </i></center></h1>
<center>
<form action="/editprofile" method="post">
	<label for="user_type">Student / Faculty</label>
	<input type="text" name="user_type" required>
	<br>
	<br>
	<label for="name">Full Name:</label>
	<input type="text" name="name" required>
	<br>
	<br>
	<label for="email"> Email:</label>
	<input type="text" name="email" required>
	<br>
	<br>
	<label for="password"> Password:</label>
	<input type="password" name="password" required>
	<br>
	<br>
	<br>
	<button type="submit"> Update Profile </button>
</form>
</center>