<html>
<head>
</head>
<body>
<br>
<h2 style="color:blue;"><i> Solution Of Assignment </i></h2>
<br>
<br>
<table border="1">
	<tr>
        <th>Submission Id</th>
        <th>Assignment Id</th>
        <th>User Id</th>
		<th>Date</th>
		<th>Download Solution</th>
        
        
    </tr>

    {% for item in records %}
    <tr>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
		<td>{{item[3]}}</td>
		<td><a href="/download/{{item[4]}}">Click Here To See Solution</a></td>
        
        
    </tr>
    {% endfor %}
</table>