
<br>
<br>
<h1 style="color:brown;"><center><i>Welcome User To Assignment Portal</i></center></h1>
<br>
<br>
<h2 style="color:blue;"><center> User Login </center></h2>
<br>

<center>
<form action="/userlogin" method="post">
	<label for="username">Username:</label>
	<input type="text" name="username" required>
	<br>
	<br>
	<label for="password">Password:</label>
	<input type="password" name="password" required>
	<br>
	<br>
	<button type="submit">Login</button>
	
</form>
<h3 style="color:brown;"> {{ msg }} </h3>
</center>
<br>
<br>
<center>
<a href="/userregister">Create New Account</a>
</center>
<br>
