
<h2 style="color:brown;"><center><i> Remark From Faculty </i></center></h2>
<center>
<br>
<br>
<table border="1">
    <tr>
		<th>Email</th>
        <th>Submission ID</th>
        <th>Submission Date</th>
        <th>Status</th>
        
        
    </tr>

    {% for item in records %}
    <tr>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        
    </tr>
    {% endfor %}
</table>
<br>
<br>

</center>
</body>
</html>